.item{
    display: inline-block;
    width: 234px;
    height: 300px;
    background-color: #fff;
    padding: 25px 10px;
    box-sizing: border-box;
    text-align: center;
}
.item:hover{
    box-shadow: 0 2px 20px 5px rgba(0,0,0,.2);
}
.item img{
    width: 160px;
    height: 160px;
}
.item .desc{
    color: #999;
    padding: 0 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
}
.item .price{
    margin-top: 10px;
}
.item .newprice{
    color: #e1251b;
}
.item .oldprice{
    color: #999;
    text-decoration: line-through;
}